*{
    padding:0;
    margin:0;

}
.card.text-center img{
    opacity:0.9;
}
.card-title{
    font-size: 100px;
    font-weight: 600;
    padding-top:300px;
}
.card-overlay p{
    font-size: 70px;
    font-weight: 600;

}